{% extends 'base.html.twig' %}
 {% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/style2.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap2.css') }}"/>
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <div class="all">
      <div class="page page-dashboard">
        <div class="page-nav">
          <div class="page-nav-inner">
            <ul class="page-nav__list">
              <li class="active"><a href="#">Different</a></li>
              <li><a href="#">Open</a></li>
              <li><a href="#">In Progress</a></li>
              <li><a href="#">Review</a></li>
              <li><a href="#">Done</a></li>
              <li><a href="#">Ideas</a></li>
            </ul>
            <div class="btn-group"><a href="#" class="btn btn-default">to others</a><a href="#" class="btn btn-default active">for me</a>
            </div><a href="#" class="btn btn-accent hidden-xs">add task</a>
          </div>
        </div>
        <div class="page-header">
          <div class="container-fluid">
            <h1>Different</h1>
          </div>
        </div>
        <div class="page-content">
          <div class="dashboard-table">
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Extremity sweetness difficult behaviour he months do things engage season</div>
                <div class="dashboard-col dc-category"><a href="#">Life</a></div>
                <div class="dashboard-col dc-date">September 5</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Old education him departure any arranging one prevailed</div>
                <div class="dashboard-col dc-category"><a href="#">Develop</a></div>
                <div class="dashboard-col dc-date">August 9</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Behaved the comfort another fifteen eat ask pianoforte increasing</div>
                <div class="dashboard-col dc-category"><a href="#">Motion</a></div>
                <div class="dashboard-col dc-date">July 30</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Departure so attention pronounce satisfied daughters</div>
                <div class="dashboard-col dc-category"><a href="#">Behance</a></div>
                <div class="dashboard-col dc-date">May 1</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Supplied directly pleasant we ignorant ecstatic of jointure</div>
                <div class="dashboard-col dc-category"><a href="#">Table</a></div>
                <div class="dashboard-col dc-date">April 8</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Imagine was you removal expression</div>
                <div class="dashboard-col dc-category"><a href="#">Creative</a></div>
                <div class="dashboard-col dc-date">March 24</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Raptures stanhill my greatest mistaken or exercise on although</div>
                <div class="dashboard-col dc-category"><a href="#">Design</a></div>
                <div class="dashboard-col dc-date">February 9</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Why painful the sixteen how minuter looking</div>
                <div class="dashboard-col dc-category"><a href="#">Radio</a></div>
                <div class="dashboard-col dc-date">January 27</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Attachment apartments in delightful by motionless use servants required</div>
                <div class="dashboard-col dc-category"><a href="#">Html</a></div>
                <div class="dashboard-col dc-date">January 5</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
            <div class="dashboard-row">
              <div class="dashboard-sub-row">
                <div class="dashboard-col dc-text">Subject but earnest husband imagine sixteen brandon</div>
                <div class="dashboard-col dc-category"><a href="#">Program</a></div>
                <div class="dashboard-col dc-date">December 31</div>
                <div class="dashboard-col dc-member">
                  <div title="done task" class="dashboard-check"></div>
                </div>
              </div>
              <div class="dashboard-sub-row">
                <div class="details">
                  <div class="lead">Clearly immigration, trade and terrorism were key issues that swayed electoral opinion in a very significant way, just as they did in the UK, and probably will in the European referendums and elections to come.</div><a href="#" class="btn btn-accent">show more</a><span>5 comments</span><a href="#">edit task</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}