{% extends 'base.html.twig' %}
{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/loginpage.css') }}" />
{% endblock %}
{% block title %}Hello FrontController!{% endblock %}

{% block body %}
    <div class="singUP">Log in</div>
    <div class="container">
        <div class="registerMenu">
            <form id="app" @submit="checkForm" action="#" method="post">



                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label class="labelRegisterMenu" for="email">Email</label>
                <input class="inputRegisterMenu" name="_email" id="email" type="email" v-model="email" placeholder="your email"><br>
                <label class="labelRegisterMenu" for="password">Password</label>
                <input class="inputRegisterMenu" name="_password" id="password" type="password" v-model="password" placeholder="your password"><br>
                <div class="checkbox"><input class="checkboxPosition" type="checkbox" name="_remember_me" >
                    <span class="rememberMeCheckbox">Remember me</span><a class="buttonForgotPassoword" href="#">Forgot Password?</a></div>

                <input class="inputRegisterMenu inputRegisterMenuButton" type='submit' value="Enter login">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            </form>

        </div>
    </div>


    </div>
{% endblock %}
{% block customJs %}
   {# <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ asset('build/js/login.js') }}"></script>#}
{% endblock %}
