{% extends 'base.html.twig' %}
{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/style2.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap2.css') }}"/>
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <div class="all">
      <div class="page page-task">
        <div class="page-nav">
          <div class="page-nav-inner">
            <ul class="page-nav__list">
              <li><a href="#">Different</a></li>
              <li><a href="#">Open</a></li>
              <li><a href="#">In Progress</a></li>
              <li><a href="#">Review</a></li>
              <li><a href="#">Done</a></li>
              <li><a href="#">Ideas</a></li>
            </ul>
            <div class="btn-group"><a href="#" class="btn btn-default">to others</a><a href="#" class="btn btn-default">for me</a>
            </div><a href="#" class="btn btn-accent hidden-xs">add task</a>
          </div>
        </div>
        <div class="page-header">
          <div class="container-fluid">
            <h1>New task</h1>
          </div>
        </div>
        <div class="page-content">
          <div class="container-fluid">
            <form action="#">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>for whom?</label>
                    <select class="form-control">
                      <option>Casey R.</option>
                      <option>Jesus B.</option>
                      <option>Evan O.</option>
                      <option>Bryan W.</option>
                      <option>Angel O.</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>category</label>
                    <select class="form-control">
                      <option>Life</option>
                      <option>Career</option>
                      <option>Academic</option>
                      <option>Personal</option>
                      <option>Social</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>title</label>
                    <input type="text" placeholder="Design for Home Page" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>date</label>
                    <input type="text" placeholder="November 17" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>message</label>
                    <textarea rows="3" class="form-control"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group"><a href="#">Advanced filter</a></div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-accent">create now</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}